# -----------------------------------------------------------------------------
#
# Binaries
project_codewars
test_project_codewars
#
# CUnit files
report/CUnitAutomated-Listing.xml
report/CUnitAutomated-Results.xml
#
# CPPcheck report files
report/cppcheck.report
report/cppcheck_errors.xml
report/html/*
#
# Code coverage files
coverage/default.profraw
coverage/default.profdata
coverage/index.html
coverage/style.css
coverage/coverage/*
#
# -----------------------------------------------------------------------------

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
